@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>Administracion del restaurante Bienmesabe, si no es un personal autorizado, desconectese inmediatamente.</a>.</p>
</div>
