@model WebApplication5.Models.Empleado

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEmpleado" />
            <div class="form-group">
                <label asp-for="IdPersona" class="control-label"></label>
                <select asp-for="IdPersona" class="form-control" asp-items="ViewBag.IdPersona"></select>
                <span asp-validation-for="IdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCargo" class="control-label"></label>
                <select asp-for="IdCargo" class="form-control" asp-items="ViewBag.IdCargo"></select>
                <span asp-validation-for="IdCargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdJornada" class="control-label"></label>
                <select asp-for="IdJornada" class="form-control" asp-items="ViewBag.IdJornada"></select>
                <span asp-validation-for="IdJornada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ci" class="control-label"></label>
                <input asp-for="Ci" class="form-control" />
                <span asp-validation-for="Ci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
