<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication5.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bienmesabe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Seleccionar
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" asp-area="" asp-controller="Cargoes" asp-action="Index">Cargos</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Empleadoes" asp-action="Index">Empleados</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Facturas" asp-action="Index">Facturas</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Ingredientes" asp-action="Index">Ingredientes</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Inventarios" asp-action="Index">Inventarios</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Jornadums" asp-action="Index">Jornadas</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Menus" asp-action="Index">Menu</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Personas" asp-action="Index">Personas</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Productoes" asp-action="Index">Producto</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="ProductoIngredientes" asp-action="Index">Producto_Ingredientes</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Proveedors" asp-action="Index">Proveedores</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Suministroes" asp-action="Index">Suministros</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="SuministroProveedors" asp-action="Index">Suministros_Proveedores</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="TipoConsumoes" asp-action="Index">Tipo_Consumo</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="TipoIngredientes" asp-action="Index">Tipo_Ingredientes</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="TipoPagoes" asp-action="Index">Tipo_Pago</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="VentaProductoes" asp-action="Index">Venta_Producto</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Ventums" asp-action="Index">Venta</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Bienmesabe - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
